.container{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block-swatch{
  flex: 1 1 auto;
 }

.block-grid{
  flex: 1 1 auto;
}

.block-nav{
  flex:1 1 auto;
}

.listing-image{
  flex:1 1 auto;
}
