/*-------------------- GRID WITH BORDER--------------------*/


/*--------------1 COLUMN GRID--------------*/

section .flex-grid-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
section .flex-grid-one .col {
    width: 100%;
    border: solid 0.1rem;
    border-color: darkorange;
}

/*--------------2 COLUMN GRID--------------*/

section .flex-grid-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
section .flex-grid-two .col {
    width: 48%;
    border: solid 0.1rem;
    border-color: darkorange;
}

/*--------------3 COLUMN GRID--------------*/

section .flex-grid-three {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
section .flex-grid-three .col {
    width: 30%;
    border: solid 0.1rem;
    border-color: darkorange;
}

/*--------------4 COLUMN GRID--------------*/

section .flex-grid-four {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
section .flex-grid-four .col {
    width: 22%;
    border: solid 0.1rem;
    border-color: darkorange;
}

/*--------------6 COLUMN GRID--------------*/

section .flex-grid-six {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
section .flex-grid-six .col {
    width: 16%;
    border: solid 0.1rem;
    border-color: darkorange;
}

/*-------------------------------------------------REGULAR GRID WITHOUT BORDER-------------------------------------------------*/


/*--------------1 COLUMN GRID--------------*/

.flex-grid-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-grid-one .col {
    width: 100%;
}

/*--------------2 COLUMN GRID--------------*/

.flex-grid-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-grid-two .col {
    width: 48%;
}

/*--------------3 COLUMN GRID--------------*/

.flex-grid-three {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-grid-three .col {
    width: 30%;
}

/*--------------4 COLUMN GRID--------------*/

.flex-grid-four {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-grid-four .col {
    width: 22%;
}

/*--------------6 COLUMN GRID--------------*/

.flex-grid-six {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.flex-grid-six .col {
    width: 16%;
}