/*--------------------MAIN STYLE--------------------*/

main {
    padding: 0rem 6rem 0 6rem;
    position: relative;
}

/*--------------------FOOTER STYLE--------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    background-color: #EE924D;
    text-align: left;
    padding: 3rem 3rem;
    margin-top: 2rem;
}
footer a:link,
footer a:visited {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: underline;
}
footer ul {
    list-style: none;
}

/*--------------------NAV STYLE--------------------*/


/* Screen reader only */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Button styling */

.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1rem;
    color: #333;
}
.menu-toggle:hover,
.menu-toggle:focus {
    color: #EE924D;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/

.main-menu {
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.5s ease, box-shadow 0.5s ease;
    z-index: 999;
}
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    min-height: 100%;
    width: 200px;
    background: #EE924D;
}
.main-menu a {
    display: block;
    padding: 1rem;
    line-height: 1rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus {
    text-decoration: underline;
}
.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, .50);
    cursor: default;
}
@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
    }
}

/*
 Larger screen styling
 Horizontal menu
*/

@media (min-width: 768px) {
    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }
    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
    }
    .main-menu ul {
        display: flex;
        justify-content: center;
        /* Undo off-canvas styling */
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }
    .main-menu li {
        list-style-type: none;
        display: inline;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .main-menu a {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.13rem;
        color: #EE924D;
        text-align: center;
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
        border: 0 !important;
        /* Remove borders from off-canvas styling */
    }
    .main-menu a:hover,
    .main-menu a:focus {
        background: none;
        /* Remove background from off-canvas styling */
        text-decoration: underline;
    }
}

/*--------------------TYPE STYLE--------------------*/

body {
    background-color: #FDFAFB;
    font-family: 'Open Sans', sans-serif;
}
hr {
    display: block;
    position: relative;
    margin: 1rem auto;
    height: 0;
    width: 60%;
    line-height: 0;
    border: none;
    border-bottom: 0.1rem solid #EE924D;
}
h2 {
    letter-spacing: 0.05rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}
h3 {
    text-transform: lowercase;
    letter-spacing: 0.05rem;
    color: #EE924D;
    font-weight: 400;
    font-size: 1.3rem;
}
h4 {
    text-transform: lowercase;
    color: #8C95A6;
    font-size: 1rem;
}
.separator {
    display: block;
    position: relative;
    margin: 1rem auto;
    height: 0;
    width: 60%;
    line-height: 0;
    border: none;
    border-bottom: 0.06rem solid #8C95A6;
}

/*--------------------LINK STYLE--------------------*/

section a:link,
section a:visited {
    color: #EE924D;
    text-decoration: none;
    position: relative;
}
section a:hover,
section a:focus,
section a:active {
    text-decoration: underline;
}

/*--------------------SECTION STYLE--------------------*/

section {
    padding-bottom: 3rem;
}

/*-------------------WEBSITE FRAME STYLE------------------*/

.websiteFrame {
    position: fixed;
    z-index: 999;
    background-color: #EE924D;
}
#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
}
#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 1rem;
}


/*-------------------MEDIA QUERIES STYLE------------------*/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 2rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /*--------------------HEADER STYLE--------------------*/
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 2rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 1.75rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 1.50rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 1.25rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin: 1rem;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        background-color: #FDFAFB;
        text-align: center;
        font-size: 1rem;
        color: #EE924D;
        letter-spacing: 0.4rem;
        margin: 1rem;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 800;
        justify-content: center;
    }
}