/*--------------1 COLUMN GRID--------------*/

.flex-grid-one {
    display: flex;
    justify-content: center;
}
.flex-grid-one .col {
    width: 97%;
}

/*--------------2 COLUMN GRID--------------*/

.flex-grid-two {
    display: flex;
    align-content: center;
}
.flex-grid-two .col {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.col-left{
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    width: 90%;
}
.col-right{
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: left;
}
/*--------------3 COLUMN GRID--------------*/

.flex-grid-three {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
.flex-grid-three .col {
    width: 30%;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/*--------------4 COLUMN GRID--------------*/

.flex-grid-four {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-grid-four .col {
    width: 25%;
}