/*--------------1 COLUMN GRID--------------*/

.flex-grid-one {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.flex-grid-one .col {
<<<<<<< HEAD
    width: 97%;
/*    background: #fff;*/
=======
    width: 99%;
>>>>>>> Phoeb
}


/*--------------2 COLUMN GRID--------------*/

.flex-grid-two {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    margin-bottom: 4rem;
}
.flex-grid-two .col {
    width: 46.5%;
/*    background: #fff;*/
=======
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.flex-grid-two .col {
    width: 46.5%;
>>>>>>> Phoeb
}

/*--------------3 COLUMN GRID--------------*/

.flex-grid-three {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    
}
.flex-grid-three .col {
    width: 30%;
/*    background: #fff;*/
=======
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.flex-grid-three .col {
    width: 30%;
}
.flex-grid-three .col-two-of-three {
    width: 60%;
    background: gray;
>>>>>>> Phoeb
}

/*--------------4 COLUMN GRID--------------*/

.flex-grid-four {
    display: flex;
        justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  border: 1px solid silver;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.flex-grid-four .col {
<<<<<<< HEAD
    width: 14.2%;
/*    background: #fff;*/
=======
background-color: aqua;
     -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
>>>>>>> Phoeb
}

/*---- 7 COLUMN GRID FOR CHECKOUT PROCESS----*/

.flex-grid-seven {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
    width: 50%;
    text-align: center;
}
.flex-grid-seven .col {
    width: 21.5%;
}


/*--TRYING SOMETHING WITH GRIDS OUT ON ABOUT PAGE FIRST--*/


/*--------------2 COLUMN GRID--------------*/

.grid-two {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;
}
.grid-two .col {
    width: 46.5%;

}

.grid-two .col .name-one{
    position: absolute;
    z-index:100;
    top: 2rem;
    left: 13rem;
    width: 5rem;
}

.grid-two .col .name-two {
    position: absolute;
    z-index: 100;
    top: 2rem;
    right: 10rem;
    width: 10rem;
}

/*--------------3 COLUMN GRID--------------*/

.grid-three {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.grid-three .col {
    width: 30%;
/*    background: #fff;*/
}

.grid-three .col-two-of-three{
    width: 60%;
    background: gray;
}


/*--------------4 COLUMN GRID--------------*/

.grid-four {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;    
    position: relative;
    z-index: 100;
}
.grid-four .col {
    width: 14.2%;
}
