/*-------------------- GRID SYSTEM--------------------*/

@media (max-width: 600px) {
  .flex-grid-three {
    display: block;
    }
    .col {
      width: 100%;
  }
}

/*--------------1 COLUMN GRID--------------*/

.flex-grid-one {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.flex-grid-one .col {
    width: 97%;
    background: #fff;
}

/*--------------2 COLUMN GRID--------------*/

.flex-grid-two {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.flex-grid-two .col {
    width: 46.5%;
    background: #fff;
}

/*--------------3 COLUMN GRID--------------*/

.flex-grid-three {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.flex-grid-three .col {
    width: 30%;
    background: #fff;
}

.flex-grid-three .col-two-of-three{
    width: 60%;
    background: gray;
}


/*--------------4 COLUMN GRID--------------*/

.flex-grid-four {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.flex-grid-four .col {
    width: 14.2%;
    background: #fff;
}

/*---- 7 COLUMN GRID FOR CHECKOUT PROCESS----*/
.flex-grid-seven{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  width: 50%;
  text-align: center;
}

.flex-grid-seven .col {
    width: 21.5%;
}