/*--------------------HEADER STYLE--------------------*/

header {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #FDFAFB;
    text-align: center;
    font-size: 2rem;
    color: #EE924D;
    letter-spacing: 0.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1200;
}


/*--------------------FOOTER STYLE--------------------*/

footer {
    display: grid;
    bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    color: white;
    background-color: #EE924D;
    width: 100%;
    text-align: left;
    padding: 3rem 3rem;
    margin-top: 2rem;
}

footer a:link,
footer a:visited {
    font-size: 1rem;
     color: white;
    text-decoration: none;
}

footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: underline;
}

/*--------------------NAV STYLE--------------------*/

nav {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    color: #EE924D;
    text-align: center;
}
nav li {
    list-style-type: none;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
nav a:link,
nav a:visited {
    color: #EE924D;
    text-decoration: none;
}
nav a:hover,
nav a:focus,
nav a:active {
    color: #EE924D;
    text-decoration: underline;
}
nav h1 {
    text-transform: capitalize;
    font-weight: 900;
}

/*--------------------BODY STYLE--------------------*/

body {
    background-color: #FDFAFB;
    font-family: 'Open Sans', sans-serif;
}
hr {
    display: block;
    position: relative;
    margin: 1rem auto;
    height: 0;
    width: 60%;
    line-height: 0;
    border: none;
    border-bottom: 0.1rem solid #EE924D;
}
h2 {
    letter-spacing: 0.05rem;
    color: black;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: 400;
}
h3 {
    text-transform: lowercase;
    letter-spacing: 0.05rem;
    color: #EE924D;
    font-weight: 400;
    font-size: 2rem;
}
h4 {
    text-transform: lowercase;
    color: #C5CEDD;
    font-size: 1.5rem;
}
h5 {
    text-transform: uppercase;
    color: #C5CEDD;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
    margin-bottom: 0;
}

/*--------------------LIST STYLE--------------------*/

ul {
    list-style: none;
    line-height: 1.5rem;
}


/*--------------------CHECKOUT PROCESS STYLE--------------------*/

.price {
    float: right;
}
.order {
    float: right;
}
.order hr {
    display: block;
    position: relative;
    height: 0;
    width: 20rem;
    border: none;
    border-bottom: 0.1rem solid #C5CEDD;
}
.checkout-process {
    font-size: 0.08rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    list-style: none;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #C5CEDD;
}
.checkout-process a:link,
a:visited {
    color: black;
    text-decoration: none;
}
.checkout-process a:hover,
a:active {
    color: black;
    text-decoration: underline;
}
.checkout-forms {
    float: left;
    padding-right: 8rem;
}
.checkout-forms hr {
    display: block;
    position: relative;
    float: left;
    height: 0;
    width: 35rem;
    border: none;
    border-bottom: 0.1rem solid #C5CEDD;
    margin-bottom: 2rem;
}
.forms [type=text] {
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
    background-color: #C5CEDD;
    opacity: 0.5;
    width: 30rem;
    padding: 0.8rem;
    margin: 1rem;
    display: block;
    border: none;
}

/*--Buttons--*/

[type=submit] {
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
    background-color: white;
    width: 15rem;
    padding: 0.8rem;
    margin-top: 4rem;
    display: block;
    border: 0.05rem solid #C5CEDD;
}
[type=submit]:hover {
    background: #C5CEDD;
    color: white;
}
[type=checkbox] {
    letter-spacing: 0.05rem;
    background-color: #C5CEDD;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
form {
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
}

/*CRITIQUE FORM STYLE*/

.critique-forms hr {
    display: block;
    position: relative;
    height: 0;
    width: 30rem;
    border: none;
    border-bottom: 0.1rem solid #C5CEDD;
    margin-bottom: 2rem;
}
.critique [type=text] {
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
    background-color: #C5CEDD;
    opacity: 0.5;
    width: 30rem;
    padding: 0.8rem;
    margin: 1rem;
    display: block;
    border: none;
}

/*-------------------WEBSITE FRAME STYLE------------------*/

.websiteFrame {
    position: fixed;
    z-index: 1500;
    background-color: #EE924D;
}
#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
}
#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 1rem;
}


/*-------------------RESPONSIVE IMG STYLE------------------*/
img{
  max-width:100%  
}
