/*--------------------HEADER STYLE--------------------*/

header {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #FDFAFB;
    text-align: center;
    font-size: 2rem;
    color: #EE924D;
    letter-spacing: 0.4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1200;
    margin-top: 5rem;
}
main {
    margin-left: 15%;
    margin-right: 15%;
}
main a:link,
main a:visited {
    text-decoration: none;
}

/*--------------------FOOTER STYLE--------------------*/

footer {
    display: grid;
    bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    color: white;
    background-color: #EE924D;
    width: 100%;
    text-align: left;
    padding: 3rem 3rem;
    margin-top: 2rem;
}
footer a:link,
footer a:visited {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: underline;
}

/*--------------------NAV STYLE--------------------*/

nav {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    color: #EE924D;
    text-align: center;
}
nav li {
    list-style-type: none;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
nav a:link,
nav a:visited {
    color: #EE924D;
    text-decoration: none;
}
nav a:hover,
nav a:focus,
nav a:active {
    color: #EE924D;
    text-decoration: underline;
}
nav h1 {
    text-transform: capitalize;
    font-weight: 900;
}
nav hr {
    display: block;
    position: relative;
    margin: 1rem auto;
    margin-top: 2rem;
    height: 0;
    width: 70%;
    line-height: 0;
    border: none;
    border-bottom: 0.1rem solid #EE924D;
}

/*--------------------BODY STYLE--------------------*/

body {
    background-color: #FDFAFB;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
}
h2 {
    letter-spacing: 0.06rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
h3 {
    text-transform: lowercase;
    letter-spacing: 0.1rem;
    color: #EE924D;
    font-weight: 400;
    font-size: 2rem;
    width: 60%;
        line-height:2.5rem;
}
h4 {
    text-transform: lowercase;
    color: #555F72;
    font-size: 1.5rem;
}
h5 {
    text-transform: uppercase;
    color: #555F72;
    letter-spacing: 0.1rem;
    font-size: 0.5rem;
    margin-bottom: 0;
}
h6 {
    
    color: black;
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.03rem;
    
}
p {
    color: #8C95A6;
    margin-top: 0rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
    letter-spacing:0.04rem;
    text-transform: none;
}
.descr {
    text-align: left;
    line-height: normal;
    width:90%;
}

.bio{
    text-align:left;
    line-height: normal;
    width: 50%
    
}
hr {
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    border: none;
    border-bottom: 0.05rem solid #8C95A6;
    margin-bottom: 2rem;
}

/*----------------- PRODUCT LISTING --------------------*/

#product-listing {
    line-height: 0.2rem;
}
#product-listing a:link {
    text-decoration: none;
}
#product-listing a:hover {
    text-decoration: underline;
    color: gray;
}

img {
    justify-content: center;
    text-align: center;
    padding-top: 3rem;
}

/*--------------------LIST STYLE--------------------*/

ul {
    list-style: none;
    line-height: 1.5rem;
}

li{
    display: inline;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

/*--------------------CHECKOUT STYLE--------------------*/

.price {
    float: right;
}
.order {
    float: right;
    line-height: 1rem;
}
.order hr {
    display: block;
    position: relative;
    height: 0;
    width: 20rem;
    border: none;
    border-bottom: 0.1rem solid #8C95A6;
}

.order a:link, .order a:visited{
    color:black;
    text-decoration:none;
    
}

.order a:hover, 
.order a:active{
    color: black;
    text-decoration: underline;
}
.checkout-process {
    font-size: 0.08rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    list-style: none;
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #8C95A6;
    line-height: 1rem;
}
.checkout-process a:link,
.checkout-process a:visited {
    color: black;
    text-decoration: none;
}
.checkout-process a:hover,
.checkout-process a:active {
    color: black;
    text-decoration: underline;
}

/*----------FORMS---------------*/


.form-fields {
    float: left;
}
.form-fields hr {
    display: block;
    position: relative;
    float: left;
    height: 0;
    width: 120%;
    border: none;
    border-bottom: 0.1rem solid #8C95A6;
    margin-bottom: 2rem;
}
form [type=text] {
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
    background-color: #C5CEDD;
    opacity: 0.5;
    width: 30rem;
    padding: 0.8rem;
    margin-left: 1rem;
    display: block;
    border: none;
}

form h5{
    color: gray;
    padding-left:1rem;
}

form .shorter-label{
    width: 12rem;
    
}

.review{
    padding-left:1rem;
}

.reccommended{
    padding-top:4rem;
}

form {
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
}

/*--Buttons--*/

[type=submit] {
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-size: 0.08rem;
    background-color: white;
    width: 15rem;
    padding: 0.8rem;
    margin-top: 4rem;
    display: block;
    border: 0.05rem solid #C5CEDD;
}
[type=submit]:hover {
    background: #C5CEDD;
    color: white;
}
[type=checkbox] {
    letter-spacing: 0.05rem;
    background-color: #C5CEDD;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}





/*--------CART STYLE-----------*/
[type=number] {
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    text-align: center;
}

.product-info{
    line-height:0.5rem;
    margin-bottom:3rem;
}

.product-info h4{
    padding-bottom: 2rem;
}

.product-info h5{
    line-height: 0.5rem
}

.product-info form{
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.product-info a:link, 
.product-info a:visited{
    text-decoration: none;
    color:black;
}

.product-info a:hover, 
.product-info a:active{
    text-decoration: underline;
    color:black;
}
/*-------------------WEBSITE FRAME STYLE------------------*/

.websiteFrame {
    position: fixed;
    z-index: 1500;
    background-color: #EE924D;
}
#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
}
#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 1rem;
}

/*-------------------IMG STYLES------------------*/


/*makes images responsive*/

img {
    max-width: 100%
}




/*-------------------MEDIA QUERIES FOR FORMS-------------*/
/*
@media (max-width: 400px) {
    .forms [type=text]{
        width: 45%;
        }
        .forms .shorter-forms [type=text]{
        width: 45%;
        
  }
}

@media (min-width: 700px) {
    .forms [type=text]{
        width: 100%;
  }
}*/
