header{
  background-color: #C5CEDD;
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.4rem;
  margin:1rem;
  padding:1rem;
  position: fixed;
  width: 100%;
  display: block;
}
nav{
  font-family: 'Lato', sans-serif;
  font-size: 1.20rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  text-align: center;
}

nav li {
  list-style-type:none;
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

nav a:link, nav a:visited{
  color: white;
  text-decoration: none;
}

nav a:hover, nav a:active {
  color: white;
  text-decoration: underline;
}

nav h1{
  text-transform: capitalize;

}

body{
  background-color:#C5CEDD;
}

hr {
   display: block;
   position: relative;
   margin: 1rem auto;
   height: 0;
   width: 50%;
   line-height: 0;
   border: none;
   border-bottom: 0.1rem solid #ffffff;
}
